





<center>

<h1>Log in to the server to check your tasks' statuses</h1>

 



<div>


  <%= form_for(:status, :url => {:action => 'detail'}) do |f| %>
  <table summary="Subject form fields">
    <tr>
      <th>User Name</th>
      <td><%= f.text_field(:user_name) %></td>
    </tr>
    <tr>
      <th>password</th>
      <td><%= f.password_field(:password) %></td>
    </tr>
    
  </table>

 

  <button class="btn btn-embossed btn-primary">
  	 Log in
	</button>


  <% end %>

  </div>
